<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.CatelogMapper">
    
    <resultMap type="Catelog" id="CatelogResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="number"    column="number"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectCatelogVo">
        select id, name, number, status from kd_catelog
    </sql>

    <select id="selectCatelogList" parameterType="Catelog" resultMap="CatelogResult">
        <include refid="selectCatelogVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="number != null "> and number = #{number}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectCatelogById" parameterType="Long" resultMap="CatelogResult">
        <include refid="selectCatelogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCatelog" parameterType="Catelog" useGeneratedKeys="true" keyProperty="id">
        insert into kd_catelog
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="number != null">number,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="number != null">#{number},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateCatelog" parameterType="Catelog">
        update kd_catelog
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="number != null">number = #{number},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCatelogById" parameterType="Long">
        delete from kd_catelog where id = #{id}
    </delete>

    <delete id="deleteCatelogByIds" parameterType="String">
        delete from kd_catelog where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>