<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.dict.mapper.DictCitiesMapper">
    
    <resultMap type="DictCities" id="DictCitiesResult">
        <result property="id"    column="id"    />
        <result property="provinceCode"    column="province_code"    />
        <result property="cityCode"    column="city_code"    />
        <result property="cityName"    column="city_name"    />
    </resultMap>

    <sql id="selectDictCitiesVo">
        select id, province_code, city_code, city_name from kd_dict_cities
    </sql>

    <select id="selectDictCitiesList" parameterType="DictCities" resultMap="DictCitiesResult">
        <include refid="selectDictCitiesVo"/>
        <where>  
            <if test="provinceCode != null  and provinceCode != ''"> and province_code = #{provinceCode}</if>
            <if test="cityCode != null  and cityCode != ''"> and city_code = #{cityCode}</if>
            <if test="cityName != null  and cityName != ''"> and city_name like concat('%', #{cityName}, '%')</if>
        </where>
    </select>
    
    <select id="selectDictCitiesById" parameterType="Long" resultMap="DictCitiesResult">
        <include refid="selectDictCitiesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDictCities" parameterType="DictCities" useGeneratedKeys="true" keyProperty="id">
        insert into kd_dict_cities
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code,</if>
            <if test="cityCode != null and cityCode != ''">city_code,</if>
            <if test="cityName != null and cityName != ''">city_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">#{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">#{cityCode},</if>
            <if test="cityName != null and cityName != ''">#{cityName},</if>
         </trim>
    </insert>

    <update id="updateDictCities" parameterType="DictCities">
        update kd_dict_cities
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code = #{provinceCode},</if>
            <if test="cityCode != null and cityCode != ''">city_code = #{cityCode},</if>
            <if test="cityName != null and cityName != ''">city_name = #{cityName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictCitiesById" parameterType="Long">
        delete from kd_dict_cities where id = #{id}
    </delete>

    <delete id="deleteDictCitiesByIds" parameterType="String">
        delete from kd_dict_cities where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>