<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.dict.mapper.DictAreasMapper">
    
    <resultMap type="DictAreas" id="DictAreasResult">
        <result property="id"    column="id"    />
        <result property="cityCode"    column="city_code"    />
        <result property="areaCode"    column="area_code"    />
        <result property="areaName"    column="area_name"    />
    </resultMap>

    <sql id="selectDictAreasVo">
        select id, city_code, area_code, area_name from kd_dict_areas
    </sql>

    <select id="selectDictAreasList" parameterType="DictAreas" resultMap="DictAreasResult">
        <include refid="selectDictAreasVo"/>
        <where>  
            <if test="cityCode != null  and cityCode != ''"> and city_code = #{cityCode}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
        </where>
    </select>
    
    <select id="selectDictAreasById" parameterType="Long" resultMap="DictAreasResult">
        <include refid="selectDictAreasVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDictAreas" parameterType="DictAreas" useGeneratedKeys="true" keyProperty="id">
        insert into kd_dict_areas
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cityCode != null and cityCode != ''">city_code,</if>
            <if test="areaCode != null and areaCode != ''">area_code,</if>
            <if test="areaName != null and areaName != ''">area_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cityCode != null and cityCode != ''">#{cityCode},</if>
            <if test="areaCode != null and areaCode != ''">#{areaCode},</if>
            <if test="areaName != null and areaName != ''">#{areaName},</if>
         </trim>
    </insert>

    <update id="updateDictAreas" parameterType="DictAreas">
        update kd_dict_areas
        <trim prefix="SET" suffixOverrides=",">
            <if test="cityCode != null and cityCode != ''">city_code = #{cityCode},</if>
            <if test="areaCode != null and areaCode != ''">area_code = #{areaCode},</if>
            <if test="areaName != null and areaName != ''">area_name = #{areaName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictAreasById" parameterType="Long">
        delete from kd_dict_areas where id = #{id}
    </delete>

    <delete id="deleteDictAreasByIds" parameterType="String">
        delete from kd_dict_areas where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>