<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.dict.mapper.DictProvincesMapper">
    
    <resultMap type="DictProvinces" id="DictProvincesResult">
        <result property="id"    column="id"    />
        <result property="provinceCode"    column="province_code"    />
        <result property="provinceName"    column="province_name"    />
    </resultMap>

    <sql id="selectDictProvincesVo">
        select id, province_code, province_name from kd_dict_provinces
    </sql>

    <select id="selectDictProvincesList" parameterType="DictProvinces" resultMap="DictProvincesResult">
        <include refid="selectDictProvincesVo"/>
        <where>  
            <if test="provinceCode != null  and provinceCode != ''"> and province_code = #{provinceCode}</if>
            <if test="provinceName != null  and provinceName != ''"> and province_name like concat('%', #{provinceName}, '%')</if>
        </where>
    </select>
    
    <select id="selectDictProvincesById" parameterType="Long" resultMap="DictProvincesResult">
        <include refid="selectDictProvincesVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDictProvinces" parameterType="DictProvinces" useGeneratedKeys="true" keyProperty="id">
        insert into kd_dict_provinces
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code,</if>
            <if test="provinceName != null and provinceName != ''">province_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">#{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">#{provinceName},</if>
         </trim>
    </insert>

    <update id="updateDictProvinces" parameterType="DictProvinces">
        update kd_dict_provinces
        <trim prefix="SET" suffixOverrides=",">
            <if test="provinceCode != null and provinceCode != ''">province_code = #{provinceCode},</if>
            <if test="provinceName != null and provinceName != ''">province_name = #{provinceName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictProvincesById" parameterType="Long">
        delete from kd_dict_provinces where id = #{id}
    </delete>

    <delete id="deleteDictProvincesByIds" parameterType="String">
        delete from kd_dict_provinces where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>