<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvr.kdshop.mapper.ReportMapper">
    
    <resultMap type="Report" id="ReportResult">
        <result property="id"    column="id"    />
        <result property="goodId"    column="good_id"    />
        <result property="userId"    column="user_id"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectReportVo">
        select id, good_id, user_id, content, status from kd_report
    </sql>

    <select id="selectReportList" parameterType="Report" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        <where>  
            <if test="goodId != null "> and good_id = #{goodId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectReportById" parameterType="Long" resultMap="ReportResult">
        <include refid="selectReportVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertReport" parameterType="Report" useGeneratedKeys="true" keyProperty="id">
        insert into kd_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodId != null">good_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodId != null">#{goodId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateReport" parameterType="Report">
        update kd_report
        <trim prefix="SET" suffixOverrides=",">
            <if test="goodId != null">good_id = #{goodId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReportById" parameterType="Long">
        delete from kd_report where id = #{id}
    </delete>

    <delete id="deleteReportByIds" parameterType="String">
        delete from kd_report where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>